*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}
header{
    background-image:
            linear-gradient(to right bottom, rgba(142, 158, 252, .8),rgba(28, 62, 255, .8)),
            url('../img/background1.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;
    clip-path: ellipse(65% 58% at 52% 32%)
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.logo{
    height: 70px;
}
.logo-box{
    position: absolute;
    top: 30px;
    left: 30px;
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
    animation-name: animationtest;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1 );
}
.heading-primary__main{
  display: block;
    font-size: 62px;
    font-weight: 400;
    letter-spacing: 15px;
}
.heading-primary__sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 18px;
}
.btn,
.btn:link,
.btn:visited{
    text-transform:  uppercase;
    text-decoration: none;
    padding:  15px 40px;
    display: inline-block;
    border-radius: 100px;
    font-size: 16px ;
    position: relative;
}
.btn-white{
    color: #777777;
    background-color: #fff;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}
.btn:active{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn:after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 100px;
    z-index: -1;
    transition: all .4s;
}
.btn-white::after{
    background: #fff;
}
.btn:hover::after{
    transform: scaleX(3.4) scaleY(3.6);
     opacity: 0.7;
}
@keyframes animationtest {
    0%{
        opacity: 0;
        transform: translate(0, -100px);
    }
    80%{
        transform: translate(0, -20px);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }

}
