$color-primary: #5a73fc;
$color-primary-light: #8e9efc;
$color-primary-dark: #1c3eff;
$color-grey: #777777;
$color-white: #fff;
$color-black: #000;
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;
$color-grey-light-1:#f7f7f7;
